body {
  background: #fd746c;
  background: linear-gradient(to right, #fd746c, #ff9068);

  text-align: -webkit-center;
  margin: 0;
}

/* Indents the text in the input */
input[type="text"] {
  padding-left: 10px;
}

#search-container hr{
  width: 70%;
}

#logo {
  background-image: url('../img/findwiselogo.png');
  height: 56px;
  width: 334px;
  margin-bottom: 20px;
}

#search-input {
  width: 290px;
  height: 30px;
  border: 1px solid rgb(185,185,185);
  border-right: none;
}

#search-button {
  height: 34px;
  width: 33px;
  padding: 0px;
  border: 1px solid rgb(185,185,185);
  border-left: none;
  border-right: none;
  background-color: rgb(185,185,185);
  background: url('../img/findwisesearch.png') no-repeat top left;
  background-size: contain;

  cursor: pointer;
}

#results-info {
    text-align: left;
    margin-left: calc(50% - 165px);
    margin-right: calc(50% - 165px);
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
}

#results-sort * {
  display: inline-block;
}

#results-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  /* Keeps the grid to a maximum of 3 items */
  max-width: 1300px;
}

.person {
  float: left;
  background: #fefefe;
  padding-top: 20px;

  width: 400px;
  height: 250px;


  margin-right: 15px;
  margin-top: 15px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.person:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.person-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-contact > * {
  display: flex;
  align-items: center;
}

.container {
  padding: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-segment {
  display: block;
  margin-top: 15px;
}



.paging-button {
    text-align: center;
    margin: 10px;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);

    cursor: pointer;
}
.paging-button:hover {
    background-color: #fd8f7f;
    box-shadow: 0 2px 8px;
}

.button-selected {
    border: 3px solid transparent;
    background-color: #FFA69A;
}
