<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Findwise Search Bar</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body ng-app="mainApp" ng-controller="mainController as vm">

    <img src="img/triangles-wallpapers.jpg" id="bg-img" alt="">

    <div class="container" id="search-container">
      <div id="logo"></div>
      <form id="search-form">
        <input id="search-input" type="text" name="search" value="" placeholder="Search the people-list" ng-model="vm.search"/>
        <input id="search-button" type="submit" value="" name="search-button" ng-click="vm.searchClick()"></input>
      </form>
    </div>


    <div class="container results"  ng-if="vm.searchStats">
      <div id="results-info">
        <p ng-show="vm.searchStats"><small>{{vm.searchStats.totalHits}} results ({{vm.searchStats.searchEngineRoundTripTimeInMillis}} ms)</small></p>

        <div id="results-sort" ng-show="vm.searchStats.totalHits > 0">
          <form name="sortOption">
            <label for="sortOption">sort by: </label>
            <select class="" name="sortOption" ng-model="vm.sortOption" ng-options="option as option.displayName for option in vm.sortOptions" ng-change="vm.searchClick(vm.sortOption)">
            </select>
          </form>
        </div>
      </div>
      <img class="loading" src="img/loading.gif" ng-show="vm.loading">


      <div id="results-list" ng-if="vm.peopleList.length > 0">
        <div class="person" ng-repeat="person in vm.peopleList track by person.accountId | orderBy: vm.sortOption.value">
          <img src="img/genericpersonicon.png">
            <p>{{person.name}}</p>
            <div class="person-contact">
              <div class="person-contact-phone">
                <img src="img/phone.png"> <p>{{person.phone}}</p>
              </div>
              <div class="person-contact-email">
                <img src="img/email.png">
                <p> {{ person.email}}</p>
              </div>
            </div>
        </div>
      </div>

      <div class="button-segment" ng-if="vm.paging">
        <a class="paging-button" ng-repeat="page in vm.paging.pages" value="{{page.displayName}}" ng-click="vm.searchClick(page)" ng-disabled="page.selected == false" ng-class="{'button-selected' : page.selected == true}">{{page.displayName}}</a>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/factory/peopleFactory.js"></script>
    <script src="js/controller/mainController.js"></script>
  </body>
</html>
